/*
 *  Document   : hashtegny.css
 *  Author     : Omar El Gabry <omar.elgabry.93@gmail.com>
 *  Description: Main CSS File
 *
 */

html, body {
    margin: 0;
    height: 100%;
}
body {
    background: #5f2c82; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5f2c82 , #49a09d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5f2c82 , #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

/* ==== Social Networks === */
.instagram .user-image,.instagram .user-name,.instagram .post-text,.instagram .post-time{
    background-color: #306088;
    border-color: #306088;
    color: white;
}
.twitter .user-image,.twitter .user-name,.twitter .post-text,.twitter .post-time{
    background-color: #0084B4;
    border-color: #0084B4;
    color: white;
}
.google .user-image,.google .user-name,.google .post-text,.google .post-time{
    background-color: #DD4B39;
    border-color: #DD4B39;
    color: white;
}
.vk .user-image,.vk .user-name,.vk .post-text,.vk .post-time{
    background-color: #45668e;
    border-color: #45668e;
    color: white;
}

/* ==== Search Container === */
.intro-container{
    background-color: white;
    text-align: center;
}
.intro-container .toggle-header{
    color: #3498db;
}
.intro-container .toggle-header:hover{
    cursor: pointer;
    color: #3cb0fd;
}

/* ==== Header === */
.header{
    font-size: 0.9em;
    padding: 0.5%;
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}
.header h3{
    font-size: 70px;
    font-weight: bold;
    margin: 2% auto;
}
.header hr{
    opacity: 0.2;
    background-color: #fff;
    border-color: #fff;
    border-bottom: none;
    width: 50%;
}
.header p{
    font-size: 1.5em;
    padding: 10px;
    margin: 0;
}
.header button{
    border: none;
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
}
.header button:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.header button.animation-button, .header button.grid-button{
    padding-left: 15px;
    padding-right: 15px;
}
.header button.animation-button{
    background-color: #49a09d;
}
.header button.grid-button{
    background-color: #5f2c82;
}
.header input{
    padding: 10px;
    border: solid 1px #3498db;
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}
.header .network-icons{
    padding: 1%;
}
.network-icons, .network-icons div{
    display: inline-block;
    vertical-align: middle;
}

/* ==== Spinner === */
.spinner{
    color: #3498db;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 9px;
}

/* ==== Error === */
.error strong {
    line-height:30px;
}
.error span {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index:999;
    display:inline;
    font-size: 1em;
    color: #a94442;
    padding: 1%;
    margin: 0.5%;
    width: 20%;
    border:1px solid transparent;
    background:#f2dede;
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

/* ==== @media Query === */
@media screen and (max-width: 1024px) {
    .error{
        font-size: 0.9em;
    }
}
@media screen and (max-width: 480px) {
    .header{
        font-size: 0.8em;
    }
    .header h3{
        font-size: 30px;
    }
    .error{
        display: none;
    }
}
@-ms-viewport{
  width: device-width;
  height: device-height;
  initial-scale: 1.0;
}