/*
 *  Document   : main.css
 *  Author     : Omar El Gabry <omar.elgabry.93@gmail.com>
 *  Description: Main CSS File(Grid Layout)
 *
 */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
}
body {
    background: #5f2c82; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5f2c82 , #49a09d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5f2c82 , #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

/* ==== Plugin Container === */
.grid{
    margin: 0 auto;
    margin-top: 2%;
}
/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ==== Main Post Container === */
.main-post {
    width: 210px;
    float: left;
    text-align: center;
    padding: 0.7%;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    background-color: white;
}

/* ==== Main Image Container === */
.attachement-div {
    width: 100%;
}

/* ==== Main Image === */
.main-attachement{
    width: 100%;
    min-height: 15em;
    max-height: 17.5em;
}
.no-image .attachement-div{
    display: none;
}

/* ==== User Info Container === */
.user-data{
    width: 100%;
    text-align: left;
    font-size: 0.9em;
}

/* ==== User Info === */
.user-image{
    display: inline-block;
    vertical-align:middle;
    width: 25%;
    min-height: 5em;
    max-height: 6em;
    border-radius:3px;
    moz-border-radius: 3px;
    webkit-border-radius: 3px;
}
.user-name{
    display: inline-block;
    vertical-align:middle;
    margin-left: 2%;
    width: 40%;
    padding: 1%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.network-image{
    display: inline-block;
    vertical-align:middle;
    width: 20%;
    margin-left: 10%;
}
.post-text{
    cursor:pointer;
    position: relative;
    margin-top: 7%;
}
.post-text:hover{
    box-shadow: 0 0 20px 0 rgba(15, 15, 15, 0.6);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.post-text  p{
    line-height: 1.5em;
    word-wrap: break-word;
    text-indent: 2.2em;
    padding: 3%;
    margin: 0;
    overflow: hidden;
}
.post-text span{
    display: inline-block;
    position: absolute;
    top: -0.3em;
    left: 0;
    color: #ccc;
    font-family: Cambria, Georgia, serif;
    font-size: 6em;
}
.post-time{
    margin-bottom: 0;
    padding: 1.5%;
}

/* ==== Social Networks === */
.instagram .user-image,.instagram .user-name,.instagram .post-text,.instagram .post-time{
    background-color: #306088;
    border-color: #306088;
    color: white;
}
.twitter .user-image,.twitter .user-name,.twitter .post-text,.twitter .post-time{
    background-color: #0084B4;
    border-color: #0084B4;
    color: white;
}
.google .user-image,.google .user-name,.google .post-text,.google .post-time{
    background-color: #DD4B39;
    border-color: #DD4B39;
    color: white;
}
.vk .user-image,.vk .user-name,.vk .post-text,.vk .post-time{
    background-color: #45668e;
    border-color: #45668e;
    color: white;
}

/* ==== Search Container === */
.intro-container{
    background-color: white;
    text-align: center;
}
.intro-container .toggle-header{
    color: #3498db;
}
.intro-container .toggle-header:hover{
    cursor: pointer;
    color: #3cb0fd;
}

/* ==== Header === */
.header{
    font-size: 0.9em;
    padding: 0.5%;
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}
.header h3{
    font-size: 70px;
    font-weight: bold;
    margin: 2% auto;
}
.header hr{
    opacity: 0.2;
    background-color: #fff;
    border-color: #fff;
    border-bottom: none;
    width: 50%;
}
.header p{
    font-size: 1.5em;
    padding: 10px;
    margin: 0;
}
.header button{
    border: none;
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
}
.header button:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.header button.animation-button, .header button.grid-button{
    padding-left: 15px;
    padding-right: 15px;
}
.header button.animation-button{
    background-color: #49a09d;
}
.header button.grid-button{
    background-color: #5f2c82;
}
.header input{
    padding: 10px;
    border: solid 1px #3498db;
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}
.header .network-icons{
    padding: 1%;
}
.network-icons, .network-icons div{
    display: inline-block;
    vertical-align: middle;
}

/* ==== Spinner === */
.spinner{
    color: #3498db;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 9px;
}

/* ==== Error === */
.error strong {
    line-height:30px;
}
.error span {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index:999;
    display:inline;
    font-size: 1em;
    color: #a94442;
    padding: 1%;
    margin: 0.5%;
    width: 20%;
    border:1px solid transparent;
    background:#f2dede;
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

/* ==== @media Query === */
@media screen and (max-width: 1024px) {
    .main-post{
        width: 300px;
    }
}
@media screen and (max-width: 480px) {
    .main-post{
        width: 280px;
    }
    .post-text:hover{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .header{
        font-size: 0.8em;
    }
    .header h3{
        font-size: 30px;
    }
    .error{
        display: none;
    }
}
@-ms-viewport{
    width: device-width;
    height: device-height;
    initial-scale: 1.0;
}