body{
    background: #A9A9A9 url(../_images/vol1.jpg) no-repeat fixed  left top;
    background-size: 100% 100%;
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    //text-align: center;
}
/* ==== Main Post Container === */
.mainPost{
   margin: 0 auto;
   margin-top: 2%;
   width: 85%;
   text-align: center;
   display: none;
   //border: 1px solid green;
}
.mainPost.horizontal{
    width: 65%;
    margin-top: 6%;
}
/* ==== Main Image Container === */

.mainImgDiv{
    display: inline-block;
    vertical-align:middle;
    width: 45%;
    margin-right: 1%;
    //border: 1px solid green;
}
/* ==== Main Image === */
.mainImg{
    min-width: 90%;
    max-width: 100%;
    min-height: 30em;
    max-height: 35em;
    border-radius:5px;
    moz-border-radius: 5px;
    webkit-border-radius: 5px;
    //border: 1px solid red;
}
.horizontal .mainImgDiv{
    display: none;
}
/* ==== User Info Container === */
.userInfo{
    display:inline-block;
    vertical-align:middle;
    width: 45%;
    text-align: left;
    //border: 1px solid black;
}
.horizontal .userInfo{
    width: 100%;
}
/* ==== User Info === */
.userImg{
    display: inline-block;
    vertical-align:middle;
    padding: 0.7%;
    width: 20%;
    min-height: 7em;
    max-height: 8em;   
}
.horizontal .userImg{
    padding: 0.3%;
    border: none;
    min-height: 10em;
    max-height: 10em;   
}
.userName{
    display: inline-block;
    vertical-align:middle;
    margin-left: 1%;
    width: 35%;
    padding: 1%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.horizontal .userName{
    font-size: 1.2em;
}
.smImage{
    display: inline-block;
    vertical-align:middle;
    width: 12%;
    margin-left: 25%;
}
.horizontal .smImage{
    width: 15%;
    margin-left: 22%;
}
.postText{
    position: relative;
    margin-top: 5%;
    border: 1px solid black;
}
.postText  p{
    line-height: 1.5em;
    word-wrap: break-word;
    text-indent: 2.2em;
    padding: 2%;
    margin: 0;
    overflow: hidden;
    //border: 1px solid blue;
}
.horizontal .postText p{
    font-size: 1.4em;
}
.postText span{
    display: inline-block;
    position: absolute;
    top: -0.3em;
    left: 0;
    color: #ccc;
    font-family: Cambria, Georgia, serif;
    font-size: 8em;
    //border: 1px solid green;
}
.horizontal  .postText span{
    font-size: 12em;
}
.postTime{
    padding: 1.5%;
}
/* ==== SM === */
.instagram .userImg,.instagram .userName,.instagram .postText,.instagram .postTime{
    background-color: #232323;
    border-color: #232323;
    color: white;
}
.twitter .userImg,.twitter .userName,.twitter .postText,.twitter .postTime{
   background-color: #0084B4;
    border-color: #0084B4;
   color: white;
}
.googleplus .userImg,.googleplus .userName,.googleplus .postText,.googleplus .postTime{
    background-color: #DD4B39;
    border-color: #DD4B39;
    color: white;
}

/* ==== Other === */
.postTimeValue{
    display: none;
}

/* ==== Form === */ 
.userInput{
    width: 80%;
    margin: 6% auto;
    text-align: center;
    font-size: 2.5em;
    color: white;
    //border: 1px solid black;
    line-height: 2em;
} 
.wrongInput{
    font-size: 0.5em; 
    color: black;
    padding: 0.8%;
    margin: 0 auto;
    margin-bottom: 1%;
    width: 50%;
    line-height: 1em;
    background-color: transparent;
    background-color: rgba(250,250,250,.65);
}
input {
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif; 
    background-color: white;
}
.userInput #instagram, .userInput #googleplus, .userInput #twitter{
    font-size: 0.8em;
}  
.instagramLabel{
    background-color: #232323;
    margin: 0.5em;
    padding: 0.2em;
}
.googleplusLabel{
    background-color: #DD4B39;
    margin: 0.5em;
    padding: 0.2em;
}
.twitterLabel{
    background-color: #0084B4;
    margin: 0.5em;
    padding: 0.2em;
}
#submit{
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif; 
    font-size: 1em;
    padding: 0.2em;
    margin-top: 0.5em;
    border: none;
    background-color: black;
    color: white;
    text-decoration: none;
    cursor:pointer;
    font-weight:bold;
    //border: 0.09em solid black;
}
#submit:hover{
    background: #00BFFF ;
}

/* ==== Theme === */ 
.theme{
    background-color: transparent;
    background-color: rgba(250,250,250,.65);
    font-size: 0.9em;
    padding: 0.5%;
    text-align: center;
}
.stopButton, .updateButton, .downloadButton{
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif; 
    font-size: 1em;
    //margin-left: 0.09%;
    border: none;
    background-color: black;
    color: white;
    text-decoration: none;
    cursor:pointer;
    font-weight:bold;
    //border: 0.15em solid black;
}
.stopButton:hover, .updateButton:hover, .downloadButton:hover{
   background: #00BFFF;
   
}
.loading{
    text-align: center;
    margin: 20% auto;
}

/* ==== Error === */ 
.error{
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 1em; 
    color: black;
    padding: 1%;
    margin: 0.5%;
    width: 20%;
    display: none;
    background-color: transparent;
    background-color: rgba(250,0,0,.65);
}
.error p{
    margin: 0;
    padding: 0;
}
.error span{
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 0;
    margin: 0;
    width: 5%;
    height: 26%;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    background-color: rgba(250,250,250,.65);
    //border: 1px solid green;
}
.error span:hover{
    cursor:pointer;
}

/* ==== Social Media Icons === */ 
.smIcons, .smIcons div{
    display: inline-block;
    vertical-align: middle;
   // border: 1px solid green;
}

/* ==== @media Query === */
@media screen and (max-width: 1024px) {
    .mainImgDiv {
        width: 70%;
    }
    .vertical .userInfo{
        width: 70%;
    }
    .horizontal .userImg{
        min-height: 7em;
        max-height: 7em;   
    }
    .horizontal .userName, .horizontal .postText p{
        font-size: 1em;
    }
    .horizontal  .postText span{
        font-size: 8em;
    }
    .error{
        font-size: 0.9em;
        //width: 30%;
    }
    .error span{
        width: 8%;
    }
    .userInput{
        font-size: 2em;
    }
    .userInput #instagram, .userInput #googleplus, .userInput #twitter{
        font-size: 0.7em;
    } 
    .wrongInput{
        width: 90%
    }
}
@media screen and (max-width: 480px) {
    .mainPost, .mainPost.horizontal{
        width: 100%;
    }
    .mainImgDiv {
        min-width: 100%;
        margin-right: 0;
    }
    .userInfo{
        min-width: 100%;
    }
    .mainImg{
        max-height: 20em;
        min-height: 20em;
    }
    .userImg,.horizontal .userImg{
        max-height: 4.5em;
        min-height: 4.5em;
    }
    .userName,.postText  p, .postTime, .horizontal .userName, .horizontal .postText p,.theme, .stopButton, .updateButton, .downloadButton{
        font-size: 0.8em;
    }
    .postText span, .horizontal  .postText span{
        font-size: 6em;
    }
    .userInput{
        font-size: 1.5em;
    }
    .userInput #instagram, .userInput #googleplus, .userInput #twitter{
        font-size: 0.6em;
    }  
    .stopButton, .updateButton, .downloadButton{
        margin-left: 0em;
    }
    .error{
        font-size: 0.7em;
        width: 30%;
    }
    .error span{
        width: 8%;
    }
}
@-ms-viewport{
  width: device-width;
  height: device-height;
  initial-scale: 1.0;
}